.button {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  background-color: #f1f3f4;
}

.text {
  font-family: Sans, Roboto, sans-serif;
  font-size: 14px;
  color: #202124;
  font-weight: 400;
  letter-spacing: 0.2px;
  white-space: nowrap;
}

.input {
  display: none;
}
